<section id="accountability" class="bg-green text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cards Enable Accountability for Bad Behavior</h2>
                <hr class="white">
            </div>
        </div>
        <div class="row wrap-reverse">
            <div class="col-lg-8 text-left">
                <p>The fitness program is a success. Members of the neighborhood log in with their cards, complete challenges, and can encourage one another and engage in friendly competition. Unfortunately, after a few weeks Taryn gets a message from one of the fitness program moderators. Attached is a message, tied to a card from someone in her community, which includes some competitive smacktalk that passed a line. It's more than a screenshot, the attachment has cryptographic proof that this particular cardholder made this particular statement. Normally Taryn can't see how card-holders behave across the internet, but she can be notified if someone behaves inappropriately. Because she's close to people in her neighborhood she's often better positioned to intervene than moderators are.</p>
                <p>Taryn sees that the card is tied to a 16 year old boy who means well but sometimes pushes boundaries. After checking in with his dad, she sends him a message with proof of his behavior explaining that it is unacceptable. He writes back, sharing some context that the quote was drawn from, and agreeing that he crossed a line and will be more mindful in the future. Taryn makes it clear that if the behavior continues she may add a negative note to his card, so that anyone he shows it to knows he has been using it to insult others. She could also revoke the card entirely, shutting him out of the fitness program and the neighborhood's other resources. Thankfully he learns his lesson and none of these steps are necessary.</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive" src="/img/placeholder-accountability.png" alt="Illustration of a card with a notification of a reported message.">
            </div>
        </div>
    </div>
</section>
