<section id="community" class="bg-green text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cards Make It Easy to Create and Share Community Resources</h2>
                <hr class="white">
            </div>
        </div>
        <div class="row wrap-reverse">
            <div class="col-lg-8 text-left">
                <p>Taryn decides to try creating a card and giving it out to her neighbors. She has them scan a QR code at the local block party, and they use biometric confirmation on their phones to accept it. Now it's easy for anyone to create a place anywhere on the internet that's only accessible to people from the neighborhood.</p>
                <p>One neighbor decides to create a neighbors-only list of free stuff. Another creates a community calendar that requires a neighborhood card to view and post. A kid decides to create a neighbors-only Minecraft server. When someone loads up the server they just need to drag their card from a wallet to the login request to enter.</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive" src="/img/placeholder-block-party.png" alt="Illustration of neighbors sharing a QR code at a block party.">
            </div>
        </div>
    </div>
</section>
