<section id="data">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">With Consent, Cards Are a Powerful Way to Collect Data About Communities</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-40">
                <img class="img-responsive" src="/img/placeholder-data.png" alt="Illustration of anonymized community data being gathered into a report.">
            </div>
            <div class="col-lg-8 text-left mb-40">
                <p>A few months later, City Hall decides to set up a program to distribute microgrants for people building thriving neighborhoods, and Taryn decides to put in an application. By default she can't see much about the card ecosystem she's created, just the neighborhood chats that she controls, so she sends out a message asking for a data donation. People get back to her with data about the rich relationships that have happened among neighbors because of her work, not the content of messages but the frequency with which people are messaging and easily verifiable statements about how neighbors have begun to care for one another in new ways. She also asks Fatima, who donates anonymized data from the YMCA fitness program about who people from her neighborhood are staying healthy together.</p>
                <p>She bundles all of this data together and submits it to City Hall. With a few quick requests, it's easy for Taryn to collect a compelling picture of all of the ways that the people she has helped connect are showing up in supportive and transformative ways in one another's lives. This data is anonymized but easily verifiable in a way that it would be impossible for Taryn to fake. That makes it easy for City Hall to give out small grants to people like Taryn with minimal due diligence. Real estate developers, state programs, and wealthy Donor-Advised Fund (DAF) holders all put money into the city program because it can demonstrate clear results, and local programs like Taryn become steadily more common and well resourced.</p>
            </div>
        </div>
    </div>
</section>
