<section id="ownership">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cards Are Owned by the People and Organizations That Use Them</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-40">
                <img class="img-responsive" src="/img/placeholder-ownership.png" alt="Illustration of several apps offering the same open card protocol.">
            </div>
            <div class="col-lg-8 text-left mb-40">
                <p>The Membership Card Protocol is decentralized. Taryn uses an app to manage the cards on her phone and back them up, but she can easily switch between a dozen apps that perform this service whenever she wants to. No one company owns the Membership Card Protocol, which lets Taryn choose the cheapest, most privacy-protecting, and most values-aligned option available. When deciding on a new app, she can examine reviews from experts in security and trust and safety to ensure that it is well designed and thoroughly tested.</p>
                <p>Cards can be created for a fraction of a penny, but Taryn decides to pay $10 per month for a service with almost unlimited card creation and more bells and whistles. This money goes to building better software, and to helping keep the card ecosystem safe and secure.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="./#page-top" class="btn btn-primary">Back to Top</a>
            </div>
        </div>
    </div>
</section>
