<section id="privacy" class="bg-green text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cards Are Private and Secure</h2>
                <hr class="white">
            </div>
        </div>
        <div class="row wrap-reverse">
            <div class="col-lg-8 text-left">
                <p>The cards that Taryn is using are easy to set up and easy to use, but are backed by strong cryptography. No one but Taryn knows all of the cards she has, not even the tech companies hosting the infrastructure that make cards possible. No one knows how Taryn is using her cards but Taryn, unless she chooses to share that information (like people from her neighborhood did with her) or is reported to a card granter (like when the fitness program reported the boy in her neighborhood). If Taryn uses two different cards in two different communities there is no way to link them to the same person.</p>
                <p>Sharing a card also lays a foundation for encrypted communication that is resistant to both man-in-the-middle attacks and decryption by quantum computers. Cards make strong privacy and security a default wherever they are used.</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive" src="/img/placeholder-privacy.png" alt="Illustration of a locked card protected by cryptographic keys.">
            </div>
        </div>
    </div>
</section>
