<section id="trust">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cards Help You Trust People From Adjacent Communities</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-40">
                <img class="img-responsive" src="/img/placeholder-network.png" alt="Illustration of connected cards from different communities.">
            </div>
            <div class="col-lg-8 text-left mb-40">
                <p>One day Taryn gets a message from someone named Fatima who has a card showing that she's a volunteer lead at the local YMCA. A few other cards are attached to demonstrate why she's trustworthy: one that proves that she's active in her local mosque, and one that proves she's a teacher at a local middle school. Each card has information about the ways that this woman has been recognized by her community, which makes it easier for Taryn to know that the conversation is worth her time.</p>
                <p>Fatima is working with the Y to experiment with a neighborhood-level fitness program, and wants to know if Taryn would like to sign up folks from her neighborhood. Taryn sees a few cards attached to the program — one from a director at the national Y, a few from physicians and local politicians. It's easy to validate that these cards are legitimate, for example the doctor's cards are tied to their licenses with the American Medical Association. Because it's easy to see that the program is legitimate and approved by trusted third parties, it's easy for Taryn to say yes. She writes back and offers to meet Fatima for tea to discuss the rollout.</p>
            </div>
        </div>
    </div>
</section>
