<section id="whatisacard">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What's a Membership Card?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-40">
                <img class="img-responsive" src="/img/placeholder-card.png" alt="Illustration of a digital membership card.">
            </div>
            <div class="col-lg-8 text-left mb-40">
                <p>A membership card is a digital id that communities can give out to prove that people are trusted. Think about a library card, a union card, or being a "card-carrying member" of a community. A card can be used to access exclusive information, conversations, and resources that a community stores anywhere on the internet. If you choose to show a card, it offers strong proof that you are trusted by a community. If you choose not to show it, no one knows that it exists.</p>
            </div>
        </div>
    </div>
</section>
